body{

}

header{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	border: 1px solid black;
}

nav{

}

section{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
}

aside{

}

footer{
	background-color: #666666;
}

article{

}

.clear{

}

.title{
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
}

.social{
	width: 60px;
	height: 60px;
}

#name{
	font-family: 'Georgia', Times, Times New Roman, serif;
	background-color: #4aaaa5;
}

#profilePic{
	position: relative;
	width: 15%;
}

#main{
	position: relative;
	width: 650px;
	margin: auto;
	border: 1px solid black;
}

#right-aside{
	position: relative;
	text-align: center;
	right: 0;
	width: 270px;
	padding: 15px;
	border: 1px solid black;
	margin: auto;
}

@media only screen and (max-width: 980px){

}

@media only screen and (max-width: 768px){

}

@media only screen and (max-width: 640px){
	header{
		position: static;
	}
}